<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.ssm.dao.EmailDao">

    <select id = "getAllEmails" resultType = "com.ssm.entity.Email">
		select * from email
	</select>

    <delete id = "deleteEmail" parameterType = "String">
		delete from email where t_id = #{t_id}
	</delete>

</mapper>